[report]
exclude_lines =
    pragma: no cover
omit =
    *tests*
show_missing = True

[html]
title = openalea.{{cookiecutter.project_slug}} coverage report
directory = build/htmlcov

[run]
source = openalea.{{cookiecutter.project_slug}}
omit =
        *__init__*
        *test*

